{{/* Canonical URL */ -}}
<link rel="canonical" href="{{ .Permalink }}">

{{/* hreflang alternates for multilingual SEO (in addition to the sitemap).
     x-default points to the default-language (en) version of the current page. */ -}}
{{ if .IsTranslated -}}
  {{ range .AllTranslations -}}
<link rel="alternate" hreflang="{{ .Language.LanguageCode }}" href="{{ .Permalink }}">
  {{ end -}}
  {{ range .AllTranslations -}}
    {{ if eq .Language.LanguageCode "en" -}}
<link rel="alternate" hreflang="x-default" href="{{ .Permalink }}">
    {{ end -}}
  {{ end -}}
{{ end -}}

{{/* JSON-LD structured data (Organization + SoftwareApplication) */ -}}
{{ partial "structured-data.html" . -}}

<script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="https://pwk.wallabag.it/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '14']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
</script>

{{ partial "conversion-tracking.html" . -}}
