/*

Add styles or override variables from the theme here.

*/
$primary: #1f2937;
$secondary: #f97316;

.td-navbar .navbar-brand__name {
  display: none;
}

.zammad-chat {
  left: 30px !important;
  right: 0 !important;
}
