{{ partial "footer/copyright.html"  . -}}

{{ $fr := eq .Site.Language.Lang "fr" -}}
{{ with .Site.Params.privacy_policy -}}
{{ $legalPath := cond $fr "/fr/mentions-legales/" "/en/legal-notice/" -}}
{{ $privacyPath := cond $fr "/fr/confidentialite/" "/en/privacy/" -}}
{{ $termsPath := cond $fr "/fr/cgv/" "/en/terms/" -}}
<p class="td-footer__about mt-2"><a href="{{ $legalPath }}">{{ if $fr }}Mentions légales{{ else }}Legal notice{{ end }}</a> - <a href="{{ $privacyPath }}">{{ if $fr }}Confidentialité{{ else }}Privacy notice{{ end }}</a> - <a href="{{ $termsPath }}">{{ if $fr }}Conditions Générales de Vente{{ else }}Terms of sale{{ end }}</a></p>
{{- end -}}

<script src="https://helpdesk.wallabag.it/assets/chat/chat-no-jquery.min.js"></script>
<script>
(function() {
  new ZammadChat({
    title: {{ if $fr }}'Posez-nous vos questions'{{ else }}'Ask us any question'{{ end }},
    background: '#f97316',
    fontSize: '13px',
    chatId: 1
  });
})();
</script>
