{{ $icon := .Get "icon" | default "fa-lightbulb" -}}
<div class="col-lg-4 mb-5 mb-lg-0 text-center">
<div class="mb-4 h1">
  <i class="{{ if not (or (hasPrefix $icon "fas ") (hasPrefix $icon "fab ") (hasPrefix $icon "fa-brands ") (hasPrefix $icon "fa-solid ")) }}fas {{ end }}{{ $icon }}" aria-hidden="true"></i>
</div>
<h3 class="h3">
  {{- .Get "title" | markdownify -}}
</h3>
<div class="mb-0">
{{ .Inner }}
</div>
{{ with .Get "url" }}<p><a href="{{ . }}">{{ with $.Get "url_text" }}{{ . }}{{ else }}{{ T "ui_read_more" }}{{ end }}</a></p>{{ end }}
</div>
